*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}
section{
    min-height: 100vh;
    background-image: linear-gradient(rgba(111, 88, 88, 0.6), rgba(110, 52, 91, 0.6)), url("images/background.png.png") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    width: 80%;
    margin: auto;
}
/* -----------------------------------------------for navigation menu------------------------------------------------------------------- */
nav{
    height: 80px;
}
nav h1{
    color: rgb(27, 20, 20);
    font-size: 30px;
    line-height: 80px;
    float: left;
    font-size: inline;
}
nav ul{
    float: right;
    line-height: 80px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
     text-decoration: none;
     color: rgb(27, 20, 20);
     font-size: 20px;
     border-radius: 5px;
     padding: 7px 8px;
}
nav ul li a:hover{
    background-color: rgb(174, 94, 164);
    transition: 0.5s ease;
}
nav ul li .active{
    background-color: rgb(174, 94, 164);
}
/* -----------------------------------------------------------for article--------------------------------------------------------------- */
.article{
    width: 50%;
    text-align: center;
    margin: auto;
    transform: translateY(30vh);
}
.article h1{
    font-size: 35px;
    color: rgb(237, 233, 233);
    letter-spacing: 1.5px;
    font-weight: 1000;
    margin-bottom: 25px;
}
.article p{
    font-size: 23px;
    color: rgb(152, 233, 233);
    line-height: 1.5;
    margin-bottom: 50px;
}
.article .botton{
    color: black;
    padding: 12px 30px;
    letter-spacing: 1.5px;
    text-decoration: none;
    text-transform: uppercase;
    background-color: crimson;
    font-size: 20px;
}
.article .botton:hover{
    background-color: rgb(165, 212, 212);
    transition: 0.5s ease;
}
/* ----------------------------------------------------Page2------------------------------------------------------------------ */
h2{
    font-size: 30px;
    color: dimgray;
}
.con{
    background-image:linear-gradient(rgba(111, 88, 88, 0.6), rgba(110, 52, 91, 0.6)), url("images/bg1.png");
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}
.article1{
    margin: auto;
    width: 100%;
    text-align: center;
    transform: translateY(20vh);
    line-height-step: 3px;
}
.article1 h3{
    font-size: 20px;
    color: aliceblue;
    letter-spacing: 1.5px;
}
.article1 p{
    font-size: 40px;
    font-weight: 500;
    color: blanchedalmond;
}
.article1 h4{
    font-size: 20px;
    color: #fff;
    word-spacing: 2px;
}